body{
	background-color: rgb(13, 255, 218);
}

h1{
    text-align: center;
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    font-size: 500%;
}

p{
    image-orientation: center;
}

<div style="text-align: left"><img src="http://feelgrafix.com/940110-lamb.html" width="100" /></div>